<ion-view view-title="Leitor de imagens">
  <ion-content class="padding" ng-controller="FileListController">


    <div class="item item-input-inset mb_20">
      <label class="item-input-wrapper">
        <input type="file" name="fileArray" multiple dir-file-input ng-model="inputFiles">
      </label>
      <button class="button button-small" ng-click="getTexts();">
        Extrair textos
      </button>
    </div>

    <button class="button button-full button-energized mb_20" ng-if="isloading">
      A processar imagens: {{loaded}}/{{total}}
    </button>

    <div class="c-files__list">
      
      <div class="list card" ng-repeat="file in files">
        <div class="item item-divider item-divider-top">
          <i class="icon ion-eye mr_10" ng-click="readFileText(file)"></i>
          <i class="icon ion-edit mr_10" ng-click="editFile(file)"></i>
          <i class="icon ion-close" ng-click="removeFile(file)"></i>
        </div>
        <div class="item item-image">
          <div class="item-image-zoom" dir-Image-Zoom>
            <img src="{{file.data}}">
          </div>
          <img src="{{file.data}}">
        </div>
        <div class="item item-divider">
          <label class="item item-input">
            <textarea placeholder="Texto Imagem" id="text_file_{{file.id}}" ng-model="file.imageText"></textarea>
          </label>
        </div>
      </div><!-- END CARD -->

    </div><!-- LISTA -->

  </ion-content>
</ion-view>
