<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Imagens" icon-off="ion-images" icon-on="ion-images" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Textos" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/textos">
    <ion-nav-view name="tab-textos"></ion-nav-view>
  </ion-tab>


</ion-tabs>
